doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./css/index.css")
  body
    section.profile
      header
        img(src="./profile.png" alt="thumbnail")
        .name
          h1 @kawmra
          p Masashi Kawamura
        .bio
          p
            | Love: Android, Kotlin, JavaScript, and creating
            br
            | interesting things like apps, services, etc.
      ul.sns
        li: a.github(href="https://github.com/kawmra" target="_blacnk") GitHub
        li: a.twitter(href="https://twitter.com/kawmra" target="_blank") Twitter
        li: a.qiita(href="https://qiita.com/kawmra" target="_blank") Qiita
        li: a.blog(href="http://kawmra.hatenablog.com/" target="_blank") Blog
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-114969800-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-114969800-2');
